.container{
    max-width: $max-width;
    margin-top: 1rem;
  
}
.container-information{
    display: flex;
    justify-content: space-around;
}

.container-paragraph{
    width: 50%;
}
.profile-itzel{
    width: 100%;
}

.objetivo{
    color:var(--primary-color);
}

.organigrama{
    width: 60%;
}