.container{
    max-width: $max-width;
    margin-top: 1rem;
  
}

.container-information{
    display: flex;
    justify-content: space-around;

    @media screen and(max-width:950px){
        flex-direction: column-reverse;
        .container-paragraph{
            width:100%;
        }

        .profile-itzel{
            width:75%;
        }
    }
}



.container-paragraph{
    width: 50%;
}
.profile-itzel{
    width:500px;
}

.objetivo{
    color:var(--primary-color);
}

.organigrama{
    width: 60%;
}