
.cards-recipe{
    grid-area: cards;
    display:grid;
    gap:10px;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    flex-wrap: wrap;
}

.text{
    font-size: .9rem;
    font-family: Roboto;
    font-weight: bold;
}