.top-container{
    max-width: $max-width;
    margin-top: 1rem;
    display: grid;
    gap: 20px;
    grid-template-areas: 
    'cards cards recipe'
    'cards cards recipe';
    display:flex;
}

.top-container-videos{
    max-width: $max-width;
    margin-top: 1rem;
    display: grid;
    gap: 20px;
    grid-template-areas: 
    'cards cards recipe'
    'cards cards recipe';
    
}

.cards{
    grid-area: cards;
    display:grid;
    gap:10px;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    flex-wrap: wrap;
}

.video-cards{
    grid-area: cards;
    display:grid;
    gap:10px;
    grid-template-columns: repeat(auto-fill, minmax(290px,1fr));
    flex-wrap: wrap; 
}


.cards-container{
    padding:1rem;
}

.cards-item{
    box-shadow: 0 1px 5px rgba(104,104,104,0.8);
    border-radius:12px;
}
.cards-item__title{
    color:var(--primary-color);
    margin-bottom: 0;
}

.cards-item__paragraph{
    margin-top: 0;
    font-size: .9rem;
    font-family: Roboto;
    font-weight: bold;
}
.cards img{
    display:block;
    
}

.cards-item__link{
    font-family: Roboto;
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
}