.footer{
    background-color:var(--secondary-color);
}
.icons-footer   {
    width:100%;
    @include flex(row);
    padding-bottom:1rem;
}

.paragraph{
    padding-top:1rem;
}

.img{
    color:white;
}