.footer{
    background-color:var(--secondary-color);
}
.icons-footer   {
    width:100%;
    @include flex(row);
    padding-bottom:1rem;
}

.paragraph{
    padding-top:1rem;
}

.footer-paragraph{
    margin-bottom: 0;
    color: inherit;
}

.img{
    color:white;
    // padding-left:1rem;
    padding-right:1rem;

}