.recipe{
    grid-area: recipe;
    max-width:250px;
    // flex-direction: column;
    box-shadow: 0 1px 5px rgba(104,104,104,0.8);
    border-radius:12px;
   
}

.recipe-card__title{
    margin-top:.8rem;
    margin-left: .8rem;
    color:var(--primary-color);
}

.recipe-card__paragraph{
    font-size: .9rem;
    padding: .5rem;
    // color:#6E766E;
    font-family: Roboto;
    font-weight: bold;
}

.recipe-card__link{
    display:block;
    font-family: Roboto;
    font-weight: bold;
    padding-left:.5rem;
    color:var(--third-color);
    text-decoration: underline;
    margin-bottom: 1rem;
    cursor: pointer;
}

