.showcase{
    margin-top:0;
    background-color:var(--secondary-color);
    height: auto;
    padding:1.5rem 2.5rem;
    
}

.border{
    border: 8px dashed #CAED6F;
    border-radius:50%;
    padding: .5rem;
}

.showcase-title{
    color:white;
    background-color: red;
    
}

.showcase-images{
    background:green;
}