.showcase{
    margin-top:0;
    background-color:var(--secondary-color);
    height: auto;
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(210px,1fr));
    justify-content: space-between;
    align-items: center;
    padding:1.5rem 2.5rem;
    
}

.border{
    border: 8px dashed #CAED6F;
    border-radius:50%;
    padding: .5rem;
}

.showcase-profile{

}
.showcase-title{
    color:white;
    background-color: red;
    
}

.showcase-images{
    background:green;
}