@import url("https://fonts.googleapis.com/css2?family=Merienda&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
:root {
  --primary-color: #00A24D;
  --secondary-color:#A8CF45;
  --third-color: #E4735B;
  --normal-color:#333333; }

:root {
  --h1-font-size:2rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --small-font-size:.95rem; }

*, *::before, *::after {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'Merienda', cursive, sans-serif; }

a {
  text-decoration: none; }

ul {
  padding-left: 0;
  list-style: none;
  margin: 0; }

img {
  width: 100%; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0; }

h1 {
  font-size: var(--h1-font-size); }

h2 {
  font-size: var(--h2-font-size); }

table {
  margin-top: 1rem; }

th, td {
  padding: 40px;
  border: 1px solid black; }

.center-block {
  margin-left: auto;
  margin-right: auto; }

.center-content {
  text-align: center; }

.l-container {
  margin-right: 4rem;
  margin-left: 4rem; }

.top-container {
  max-width: 1250px;
  margin-top: 1rem;
  display: grid;
  gap: 20px;
  grid-template-areas: 'cards recipe';
  grid-template-rows: 1fr;
  grid-template-columns: 4fr 1fr; }
  @media screen and (max-width: 650px) {
    .top-container {
      grid-template-areas: 'recipe recipe' 'cards cards ';
      grid-template-columns: 1fr;
      grid-template-rows: 1fr; }
      .top-container .recipe {
        margin: auto; } }

.top-container-videos {
  max-width: 1250px;
  margin-top: 1rem;
  display: grid;
  gap: 20px; }

.cards {
  grid-area: cards;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  flex-wrap: wrap;
  margin-right: 1rem; }

.video-cards {
  grid-area: cards;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  flex-wrap: wrap; }

.recipe {
  grid-area: recipe;
  width: 250px;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  border-radius: 12px; }

.main-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0 0; }
  .main-header__title {
    font-size: var(--small-font-size);
    color: var(--third-color);
    font-weight: bold; }

.img {
  width: 15%; }

.main-nav {
  border-top: 1px solid var(--primary-color);
  border-bottom: 1px solid var(--primary-color); }
  .main-nav.show {
    display: block; }
  @media screen and (max-width: 800px) {
    .main-nav {
      display: none;
      border-bottom: 0; }
      .main-nav .main-menu {
        display: block;
        padding-left: 0; }
        .main-nav .main-menu__item {
          border-bottom: 1px solid var(--primary-color);
          margin-left: 0;
          margin-right: 0;
          margin-bottom: .1rem;
          padding-left: 0;
          padding-right: 0; } }

.main-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 0 .5rem; }
  .main-menu__item {
    width: 100%;
    height: 100%;
    margin-left: .5rem;
    margin-right: .5rem;
    padding: .5rem;
    text-align: center; }
  .main-menu-toggle {
    display: none;
    width: 2.2rem;
    height: 1.6rem;
    background: linear-gradient(var(--primary-color) 20%, transparent 20%, transparent 40%, var(--primary-color) 40%, var(--primary-color) 60%, transparent 60%, transparent 80%, var(--primary-color) 80%);
    margin-right: .5rem; }
    @media screen and (max-width: 800px) {
      .main-menu-toggle {
        display: block; } }

.main-menu__link {
  color: var(--normal-color); }
  .main-menu__link:hover {
    color: var(--secondary-color); }

.cards-item__link {
  color: var(--third-color); }

.toggle {
  display: flex;
  justify-content: flex-end;
  margin-bottom: .5rem; }

.carrito-img {
  fill: red; }

.submenu {
  position: relative; }

.submenu #carrito {
  display: none; }

.recetario-titulo {
  color: var(--primary-color);
  font-size: 1.5rem; }

.recetario-container {
  margin-left: 1rem; }

.pay {
  margin: auto;
  width: 150px;
  height: 150px; }

.btn-img {
  position: relative; }

.paragraph-pay {
  position: absolute;
  bottom: 20px;
  left: 60px;
  font-size: 1.2rem; }

.total {
  display: flex;
  justify-content: center;
  font-family: Merienda;
  margin-top: 1rem;
  margin-bottom: 1rem; }

.eliminar {
  width: 20px; }

.borrar-curso {
  font-family: Roboto;
  color: red;
  font-weight: bold; }

.u-full-width {
  width: 100%; }

.items {
  display: flex;
  color: red; }

.recetario-imagen {
  width: 140px; }

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10rem;
  margin-top: 1.5rem;
  height: 100%;
  font-family: Roboto;
  font-weight: bold; }

.confirmed {
  display: none;
  position: absolute;
  bottom: -550px;
  right: 0;
  padding: 1rem;
  background-color: gray; }

.confirmed-none {
  display: none; }

@keyframes blured {
  0% {
    filter: blur(0px); }
  100% {
    filter: blur(350px); } }

.showcase {
  margin-top: 0;
  background-color: var(--secondary-color);
  height: auto;
  padding: 1.5rem 2.5rem; }

.border {
  border: 8px dashed #CAED6F;
  border-radius: 50%;
  padding: .5rem; }

.showcase-title {
  color: white;
  background-color: red; }

.showcase-images {
  background: green; }

.cards-container {
  padding: 1rem; }

.cards-item {
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  border-radius: 12px; }

.cards-item__title {
  color: var(--primary-color);
  margin-bottom: 0; }

.cards-item__paragraph {
  margin-top: 0;
  font-size: .9rem;
  font-family: Roboto;
  font-weight: bold; }

.cards img {
  display: block; }

.cards-item__link {
  font-family: Roboto;
  cursor: pointer;
  text-decoration: underline;
  font-weight: bold; }

.recipe-card__title {
  margin-top: .8rem;
  margin-left: .8rem;
  color: var(--primary-color); }

.recipe-card__paragraph {
  font-size: .9rem;
  padding: .5rem;
  font-family: Roboto;
  font-weight: bold; }

.recipe-card__link {
  display: block;
  font-family: Roboto;
  font-weight: bold;
  padding-left: .5rem;
  color: var(--third-color);
  text-decoration: underline;
  margin-bottom: 1rem;
  cursor: pointer; }

.text {
  font-size: .9rem;
  font-family: Roboto;
  font-weight: bold; }

.footer {
  background-color: var(--secondary-color); }

.icons-footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem; }

.paragraph {
  padding-top: 1rem; }

.footer-paragraph {
  margin-bottom: 0;
  color: inherit; }

.img {
  color: white;
  padding-right: 1rem; }

.container-about {
  max-width: 1250px;
  margin-top: 1rem; }

.container-information {
  display: flex;
  justify-content: space-around; }
  @media screen and (max-width: 950px) {
    .container-information {
      flex-direction: column-reverse; }
      .container-information .container-paragraph {
        width: 100%; }
      .container-information .profile-itzel {
        width: 75%; } }

.container-paragraph {
  width: 50%; }

.profile-itzel {
  width: 500px; }

.objetivo {
  color: var(--primary-color); }

.organigrama {
  width: 60%; }

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }

.table-title {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 1.3rem; }
